.contact{
    width:100%;
    min-height:100vh;
    color:white;
    padding:80px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title{
    text-align:center;
    font-size:45px;
    margin-bottom:50px;
}

.contact-title span{
    color:rgb(166, 95, 233);
}

.contact-container{
    display:flex;
    justify-content:space-between;
    gap:60px;
    flex-wrap:wrap;
}

.contact-info{
    flex:1;
    min-width:300px;
}

.contact-info h2{
    font-size:30px;
    margin-bottom:20px;
}

.contact-info p{
    color:#cfcfcf;
    line-height:1.7;
}

.info{
    margin-top:25px;
}

.info h4{
    color:rgb(166, 95, 233);
    margin-bottom:5px;
}

.contact-form{
    flex:1;
    min-width:320px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    padding:15px;
    border:none;
    outline:none;
    border-radius:8px;
    background:rgb(33, 2, 61);
    color:white;
    font-size:16px;
}

.contact-form textarea{
    resize:none;
}

.contact-form button{
    padding:15px;
    border:none;
    border-radius:8px;
    background:rgb(166, 95, 233);
    color:#000;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgb(166, 95, 233);
}
.mail-message{
    border: 1px solid rgb(14, 1, 36);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    border-radius: 10px;
    width: 30%;
    height: 200px;
    padding: 20px;
    backdrop-filter: blur(15px);
    position: absolute;
    top: 20%;
    box-shadow: 0px 0px 1000px 200px rgb(46, 2, 82);
    line-height: 25px;
}
.mail-message button{
    width: 20%;
    height: 30px;
    color: black;
}
@media screen and (max-width:679px) {
    .mail-message{
        width: 80%;

    }
}