.project-page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-title{
    font-size: 50px;
    text-align: center;
    font-weight: 800;
}
.project-card{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgba(166, 95, 233, 0.555);
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

}
.project-card-title{
    
    height: 50%;
    width: 100%;

}
.project-card-title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.project-card-body{
    padding: 10px;
}
.project-card-body span{
    color: rgb(207, 84, 2);
    font-size: 20px;
    font-weight: 600;
}
.project-card-body-text{
    text-align: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease,opacity 0.5s ease;
    background: linear-gradient(to top,rgb(187, 119, 252),rgba(255, 255, 255, 0));

    
}
.project-card:hover .project-card-body-text{
    opacity: 1;
    transform: translateY(100px);
}
.project-card:hover{
    opacity: 0.8;
    box-shadow: 0px 0px 10px 1px rgb(166, 95, 233);
}

.project-card-body-text a{
    text-decoration: none;
    background-color: rgb(110, 10, 204);
    border-radius: 20px;
    width: 100px;
    text-align: center;
    color: white;
    padding: 15px;
}
.project-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px;
    gap: 30px;
}
@media screen and (max-width : 679px){
    .project-body{
        grid-template-columns: repeat(1,1fr);

    }
}